.coinpage-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .coininfo-container {
        width: 50%;
        margin: 0 auto;

        .coininfo-name-container {
            margin-top: 5%;
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            position: relative;

            .coinInfo-back-arrow {
                position: absolute;
                top: 5px;
                right: 0;
                width: 50px;
                height: 50px;
            }
            .coininfo-logo {
            }
        }
        .coininfo-text-key-value-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 100px;
        }
    }

    .coinInfo-btn {
        margin: 3% auto;
        width: 30%;
        height: 4%;
        background-color: #9c9c9b;
    }
    .coininfo-chart-container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 70%;
        height: 35%;
        .coininfo-period-container {
            margin-right: 20px;
            padding: 0 10px;
            background-color: rgb(239, 242, 245);
            border-radius: 6px;
            height: 3vh;
            width: 20%;
            .coininfo-period-btn {
                width: 33%;
                height: 100%;
                background-color: rgb(239, 242, 245);
                border-width: 0;
                &.active {
                    background-color: white;
                }
                &:hover {
                    background-color: #dfdede;
                    transition: all 0.5s;
                }
            }
        }
        .coininfo-chart {
            height: 100%;
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
        }
    }
}

.coininfo-text {
    font-size: 30px;
    &.name {
        font-weight: 600;
    }
    &.value {
        font-weight: 600;
    }
    &.price {
        font-size: 50px;
        font-weight: 600;
    }
}

@media (max-width: 1200px) {
    .coinpage-container {
        .coininfo-container {
            width: 70%;
        }
    }
}

@media (max-width: 480px) {
    .coinpage-container {
        .coininfo-container {
            width: 100%;
            .coininfo-name-container {
                gap: 20px;
                .coininfo-logo {
                }
                .coinInfo-back-arrow {
                    width: 30px;
                    height: 30px;
                }
            }
            .coininfo-text-key-value-container {
                gap: 0px;
            }
        }
        .coininfo-chart-container {
            width: 100%;
            height: 50%;
            .coininfo-period-container {
                padding: 0 10px;
                height: 3vh;
                width: 20%;
                .coininfo-period-btn {
                    width: 33%;
                    height: 100%;
                }
            }
            .coininfo-chart {
                height: 100%;
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .coininfo-text {
        font-size: calc(20px + (30 - 20) * ((100vw - 390px) / (1920 - 390)));

        &.name {
            font-weight: 600;
        }

        &.value {
            font-weight: 600;
        }

        &.price {
            font-size: calc(
                30px + (50 - 30) * ((100vw - 390px) / (1920 - 390))
            );
            font-weight: 600;
        }
    }
}
